---
import PostCard from '../components/PostCard.astro';
import PostGrid from '../components/PostGrid.astro';
import Layout from '../layouts/Layout.astro';
const res = await fetch("http://astro.local/wp-json/wp/v2/posts?_embed")
const posts = await res.json()
---

<Layout title="Random Ramblings">
	<main style="flex:1">
		<h1>Random Ramblings</h1>
		<PostGrid>
		{
			posts.map((post) => (
				<PostCard
					title={post.title.rendered}
					image= {post._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url}
					slug={post.slug}
					/>
			))
		}
		</PostGrid>

		
	</main>
</Layout>

